<header class="">
    <nav class="navbar fixed-top p-2 bg-primary">
        <div class="d-flex justify-content-between">
            <div class="" routerLink="/">
                <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-home fa-stack-1x"></i>
            </span>
            </div>
            <div>
                <h1>Admin</h1>
            </div>
            <div>
                <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-bars fa-stack-1x"></i>
            </span>
            </div>
        </div>
    </nav>

    <ul class="clearfix text-center">
        <li class="user" routerLink="/users">
            <span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-users fa-stack-1x fa-inverse"></i>
        </span>
            <div class="text fs-80">Users</div>
        </li>

        <li class="forum" routerLink="/forum">
            <span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
        </span>
            <div class="text fs-80">Forums</div>
        </li>
        <li>
            <span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-tasks fa-stack-1x fa-inverse"></i>
        </span>
            <div class="text fs-80">LMS</div>
        </li>


        <li>
            <span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-book fa-stack-1x fa-inverse"></i>
        </span>
            <div class="text fs-80">Class</div>
        </li>
        <li>
            <span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
        </span>
            <div class="text fs-80">Class</div>
        </li>

        <li routerLink="/login">
            <span class="fa-stack fa-lg">
                <i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
                <i class="fa fa-sign-in fa-stack-1x fa-inverse" aria-hidden="true"></i>
            </span>
            <div class="text fs-80">Login</div>
        </li>
        <li routerLink="/about">
            <span class="fa-stack fa-lg">
                <i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
                <i class="fa fa-info fa-stack-1x fa-inverse" aria-hidden="true"></i>
            </span>
            <div class="text fs-80">About</div>
        </li>
    </ul>
</header>