<header-component></header-component>
<div class="container-fluid margin-top-5 mt-sm-5">
    <div class="row">
        <main class="col-12">
            <h2>User management By admin</h2>
            <div class="mb-3">

                <div>
                  <div class="input-group mb-1">
                    <span class="input-group-addon">User Search</span>
                    <input type="text" class="form-control" [(ngModel)]="searchString" placeholder="User ID, Name, Email..." (keyup)="onChangeSearch()">
                  </div>
                </div>
            </div>

            <div *ngIf="paginationUsers" class="pagination-user" >
                <table class="table table-responsive">
                    <thead class="thead-inverse">
                    <tr>
                        <th>IDX</th>
                        <th>User ID</th>
                        <ng-container *ngIf=" user.logged ">
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Email</th>
                            <th>Password</th>
                            <th class="text-center">Edit</th>
                            <th class="text-center">Delete</th>
                        </ng-container>
                    </tr>
                    </thead>
                    <tbody class="users">
                    <tr *ngFor="let userInfo of paginationUsers" class="user">
                        <th scope="row">{{userInfo.idx}}</th>
                        <td>
                            {{userInfo.id}}
                        </td>
                        <ng-container *ngIf=" user.logged ">
                            <td>
                                  <input name="name" [(ngModel)]="user.name" placeholder="Name">
                            </td>
                            <td>
                              <select [(ngModel)]="userInfo.gender">
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                              </select>
                            </td>
                            <td>
                              <input type="email" name="email" [(ngModel)]="userInfo.email" placeholder="Email Address">
                            </td>
                            <td (click)="userInfo['PW'] = !userInfo['PW']" class="text-center" role="button">
                              <i *ngIf="!userInfo['PW']" class="fa fa-key"></i>
                              <div *ngIf="userInfo['PW']">
                                <input type="password" name="password" [(ngModel)]="userInfo['password']">
                                <i class="fa fa-floppy-o" (click)="onClickUpdatePassword( userInfo )"></i>
                              </div>
                            </td>
                            <td (click)="onClickEdit( userInfo )" class="text-center" role="button"><i class="fa fa-pencil"></i></td>
                            <td (click)="onClickDelete( userInfo.id )" class="text-center" role="button"><i class="fa fa-trash"></i></td>
                        </ng-container>
                    </tr>
                    </tbody>
                </table>
                <page-navigator-basic
                        [no_of_total_items]=" no_of_total_items "
                        [no_of_items_in_one_page] = " no_of_items_in_one_page "
                        [no_of_pages_in_navigator] = " no_of_pages_in_navigator "
                        [no_of_current_page] = " no_of_current_page "
                        [show_prev_next] = " true "
                        (pageClick)="onPageClick( $event )"
                >
                </page-navigator-basic>
            </div>

        </main>
    </div>
</div>
